{% extends 'layout.html.twig' %}

{% block body %}
<main id="swup" class="transition-fade">
    <div class="section d-flex">
        <div class="container-fluid section-inner my-auto">
            <div class="row">
                <div class="col-8 mx-auto">

                    <section>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" role="navigation" aria-current="page">Pokémon</li>
                            </ol>
                        </nav>     
                        <div class="row">
                            <div class="col-6">
                                <div class="card card-pokemon">
                                    <img class="card-img-pokemon card-img-top" src="/images/{{ pokemon.apiId }}.png" alt="pokemon avatar">
                                    <div class="card-body">
                                        <p class="card-text">{{ pokemon.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <h4 class="text-muted">{{ pokemon.name }} #{{ pokemon.apiId }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="pokemon-attributes">
                                    <h5>Type</h5>
                                    <ul>
                                        {% if pokemon.type1 %}
                                            <li 
                                                {% if pokemon.type1.name is same as('Normal') %} class="pokemon-attributes-normal"{% endif %}
                                                {% if pokemon.type1.name is same as('Combat') %} class="pokemon-attributes-fighting"{% endif %}
                                                {% if pokemon.type1.name is same as('Vol') %} class="pokemon-attributes-flying"{% endif %}
                                                {% if pokemon.type1.name is same as('Poison') %} class="pokemon-attributes-poison"{% endif %}
                                                {% if pokemon.type1.name is same as('Sol') %} class="pokemon-attributes-ground"{% endif %}
                                                {% if pokemon.type1.name is same as('Roche') %} class="pokemon-attributes-rock"{% endif %}
                                                {% if pokemon.type1.name is same as('Insecte') %} class="pokemon-attributes-bug"{% endif %}
                                                {% if pokemon.type1.name is same as('Spectre') %} class="pokemon-attributes-ghost"{% endif %}
                                                {% if pokemon.type1.name is same as('Acier') %} class="pokemon-attributes-steel"{% endif %}
                                                {% if pokemon.type1.name is same as('Feu') %} class="pokemon-attributes-fire"{% endif %}
                                                {% if pokemon.type1.name is same as('Eau') %} class="pokemon-attributes-water"{% endif %}
                                                {% if pokemon.type1.name is same as('Plante') %} class="pokemon-attributes-green"{% endif %}
                                                {% if pokemon.type1.name is same as('Électrik') %} class="pokemon-attributes-electric"{% endif %}
                                                {% if pokemon.type1.name is same as('Psy') %} class="pokemon-attributes-psy"{% endif %}
                                                {% if pokemon.type1.name is same as('Glace') %} class="pokemon-attributes-ice"{% endif %}
                                                {% if pokemon.type1.name is same as('Dragon') %} class="pokemon-attributes-dragon"{% endif %}
                                                {% if pokemon.type1.name is same as('Ténèbres') %} class="pokemon-attributes-dark"{% endif %}
                                                {% if pokemon.type1.name is same as('Fée') %} class="pokemon-attributes-fairy"{% endif %}
                                            >{{ pokemon.type1.name }}</li>
                                        {% endif %}
                                        {% if pokemon.type2 %}
                                            <li
                                                {% if pokemon.type2.name is same as('Normal') %} class="pokemon-attributes-normal"{% endif %}
                                                {% if pokemon.type2.name is same as('Combat') %} class="pokemon-attributes-fighting"{% endif %}
                                                {% if pokemon.type2.name is same as('Vol') %} class="pokemon-attributes-flying"{% endif %}
                                                {% if pokemon.type2.name is same as('Poison') %} class="pokemon-attributes-poison"{% endif %}
                                                {% if pokemon.type2.name is same as('Sol') %} class="pokemon-attributes-ground"{% endif %}
                                                {% if pokemon.type2.name is same as('Roche') %} class="pokemon-attributes-rock"{% endif %}
                                                {% if pokemon.type2.name is same as('Insecte') %} class="pokemon-attributes-bug"{% endif %}
                                                {% if pokemon.type2.name is same as('Spectre') %} class="pokemon-attributes-ghost"{% endif %}
                                                {% if pokemon.type2.name is same as('Acier') %} class="pokemon-attributes-steel"{% endif %}
                                                {% if pokemon.type2.name is same as('Feu') %} class="pokemon-attributes-fire"{% endif %}
                                                {% if pokemon.type2.name is same as('Eau') %} class="pokemon-attributes-water"{% endif %}
                                                {% if pokemon.type2.name is same as('Plante') %} class="pokemon-attributes-green"{% endif %}
                                                {% if pokemon.type2.name is same as('Électrik') %} class="pokemon-attributes-electric"{% endif %}
                                                {% if pokemon.type2.name is same as('Psy') %} class="pokemon-attributes-psy"{% endif %}
                                                {% if pokemon.type2.name is same as('Glace') %} class="pokemon-attributes-ice"{% endif %}
                                                {% if pokemon.type2.name is same as('Dragon') %} class="pokemon-attributes-dragon"{% endif %}
                                                {% if pokemon.type2.name is same as('Ténèbres') %} class="pokemon-attributes-dark"{% endif %}
                                                {% if pokemon.type2.name is same as('Fée') %} class="pokemon-attributes-fairy"{% endif %}                                           
                                            >{{ pokemon.type2.name }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <br><hr>
                                <div class="pokemon-attributes">
                                    <h5>Génération</h5>
                                    {% if pokemon.generation %}
                                        gen {{ pokemon.generation.apiId }} de {{ pokemon.generation.region }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    <section>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" role="navigation" aria-current="page">Evolutions</li>
                            </ol>
                        </nav>  
                        <div class="row evolutionchain-row">
                            <div class="col d-flex justify-content-center">
                                {{ evolutionChain|raw }}
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-info" href="{{ path('app_pokedex') }}">Plus de Pokémon</a>
                        </div>
                    </section>                    
                </div>
            </div>
        </div>
    </div>   
</main>

{% endblock %}