{% extends 'layout.html.twig' %}

{% block body %}
<main id="swup" class="transition-fade">
    <div class="section d-flex">
        <div class="container-fluid section-inner my-auto">
            <div class="row">
                <div class="col-8 mx-auto">

                    <section>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" role="navigation" aria-current="page">Pokémon</li>
                            </ol>
                        </nav>     
                        <div class="row">
                            <div class="col-6">
                                <div class="card card-pokemon">
                                    <img class="card-img-pokemon card-img-top" src="/images/{{ pokemon.apiId }}.png" alt="pokemon avatar">
                                    <div class="card-body">
                                        <p class="card-text">{{ pokemon.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <h4 class="text-muted">{{ pokemon.name }} #{{ pokemon.apiId }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <h5>types</h5>
                                        <ul></ul>
                                </div>
                                <div>
                                    <h5>Faiblesses</h5>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    <section>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" role="navigation" aria-current="page">Evolutions</li>
                            </ol>
                        </nav>  
                        <div class="row evolutionchain-row">
                            <div class="col d-flex justify-content-center">
                                {{ evolutionChain|raw }}
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-info" href="{{ path('app_pokedex') }}">Plus de Pokémon</a>
                        </div>
                    </section>                    
                </div>
            </div>
        </div>
    </div>   
</main>

{% endblock %}