{% extends 'layout.html.twig' %}

{% block title %}Créer un nouveau tournoi{% endblock %}

{% block body %}

<main id="swup" class="transition-fade bg-light">
    <div class="section">
        <div class="container px-lg-5">
        <!-- Heading -->
        <div class="position-relative d-flex text-center mb-5">
            <h2 class="text-24 text-light opacity-4 text-uppercase font-weight-600 w-100 mb-0">Tournoi</h2>
            <p class="text-9 text-dark font-weight-600 position-absolute w-100 align-self-center line-height-4 mb-0">Créer un nouveau tournoi<span class="heading-separator-line border-bottom border-3 border-primary position-abolute d-block mx-auto"></span> </p>
        </div>
        <!-- Heading end-->
            <div class="row">
                <div class="col-md-5 col-xl-4 text-md-left mt-5 mx-auto">
                    {{ form_errors(tournamentForm) }}
                    
                    {{ form_start(tournamentForm) }}
                        {{ form_row(tournamentForm.name) }}
                        {{ form_row(tournamentForm.numberPokemons) }}
                        <hr>
                        <p>Choisis les Pokémons qui participeront : </p>
                        {{ form_row(tournamentForm.pokemon1) }}
                        {{ form_row(tournamentForm.pokemon2) }}
                        {{ form_row(tournamentForm.pokemon3) }}
                        {{ form_row(tournamentForm.pokemon4) }}
                        {{ form_row(tournamentForm.pokemon5) }}
                        {{ form_row(tournamentForm.pokemon6) }}
                        {{ form_row(tournamentForm.pokemon7) }}
                        {{ form_row(tournamentForm.pokemon8) }}                        
                        
                        <p class="text-center mt-4 mb-0">
                            <a class="btn btn-primary rounded-pill d-inline-flex" href="{{ path('app_homepage') }}">Annuler</a>
                            <button type="submit" class="btn btn-primary rounded-pill d-inline-flex">Enregistrer</button>
                        </p>
                    {{ form_end(tournamentForm) }}
                </div>            
            </div>
        </div>
    </div>
</main>    

{% endblock %}
