{% extends 'layout.html.twig' %}

{% block body %}
<main>
    <div class="section d-flex">
        <div class="container-fluid section-inner my-auto">
            <div class="row">
                <div class="col text-center">
                    <h1>{{ tournament.name }}</h1>
                    <h2>Bienvenue au tournoi de combats de Pokémons</h2>

                    <div class="action-buttons">
                        <a href="{{ path('app_create') }}" class="btn btn-info">Créer un nouveau tournoi</a>
                        <a href="{{ path('app_view') }}" class="btn btn-info">Voir le tournoi en cours </a>
                        <div class="btn btn-info" data-controller="counter"><i class="fa fa-thumbs-up"></i></div>
                    </div>

                    <br><hr>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>    
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>    
                    {% endfor %}

                   
                    Participants du tournoi en cours ({{ tournament.numberPokemons }} pokémons) :

                    <div class="card-deck">
                        {% for pokemon in tournament.pokemons %}
                            <div class="card">
                                <img class="card-img-top mx-auto" src='images/{{ pokemon.apiId }}.png' alt="pokemon avatar">
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                    <h5>{{ pokemon.name }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="square-group" xyz="tall-2 duration-6 ease-out-back stagger-1 skew-left-2 big-25% fade-100% right-5">
                        <div class="square xyz-in"></div>
                        <div class="square xyz-in"></div>
                        <div class="square xyz-in"></div>
                    </div>
                    
                    <hr>
                </div>
            </div>
        </div>
    </div>   
</main>

{% endblock %}
