{% extends 'layout.html.twig' %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block body %}
<div class="container">
  <h1>{{ tournament.name }}</h1>
  <hr>
  {% for message in app.flashes('success') %}
      <div class="alert alert-success alert-dismissible" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
      </div>    
  {% endfor %}
  {% for message in app.flashes('error') %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
      </div>    
  {% endfor %}

  <h2>Tableau</h2>
  <div class="tournament-bracket tournament-bracket--rounded">                                                     
    <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
      <h3 class="tournament-bracket__round-title">Quarts de finale</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[0].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[0].player1.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[0].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[0].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[0].player2.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[0].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[0].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>

        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[1].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[1].player1.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[1].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[1].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[1].player2.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-us" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[1].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[1].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[2].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[2].player1.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[2].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[2].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[2].player2.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-se" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[2].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[2].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>

        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[3].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[3].player1.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[3].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[3].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code">{{ tournament.games[3].player2.name }}</span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-by" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[3].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[3].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--semifinals">
      <h3 class="tournament-bracket__round-title">Demi-finales</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[3].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[4].player1.name is defined and tournament.games[4].player1.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[4].player1.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[4].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[4].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[4].player2.name is defined and tournament.games[4].player2.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[4].player2.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[4].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[4].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>

        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[3].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[5].player1.name is defined and tournament.games[5].player1.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[5].player1.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[5].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[5].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[5].player2.name is defined and tournament.games[5].player2.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[5].player2.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[5].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[5].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--bronze">
      <h3 class="tournament-bracket__round-title">Match pour la troisième place</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[6].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[6].player1.name is defined and tournament.games[6].player1.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[6].player1.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[6].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[6].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                    <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-label="Bronze medal"></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[6].player2.name is defined and tournament.games[6].player2.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[6].player2.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[6].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[6].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--gold">
      <h3 class="tournament-bracket__round-title">Grande Finale</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time>{{ tournament.games[6].createdAt | date("d/m/Y") }}</time>
              </caption>
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[7].player1.name is defined and tournament.games[7].player1.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[7].player1.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[7].scorePlayer1 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[7].scorePlayer1 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                    <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy" aria-label="Gold medal"></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__country">
                    {% if tournament.games[7].player2.name is defined and tournament.games[7].player2.name is not null %}
                      <span class="tournament-bracket__code">{{ tournament.games[7].player2.name }}</span>
                    {% else %}
                      <span class="tournament-bracket__code">-</span>
                    {% endif %}
                    <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    {% if tournament.games[7].scorePlayer2 is not null %}
                      <span class="tournament-bracket__number">{{ tournament.games[7].scorePlayer2 }}</span>
                    {% else %}
                      <span class="tournament-bracket__number">-</span>                      
                    {% endif %}
                    <span class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy" aria-label="Silver medal"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <h2>Matchs</h2>    
    <hr>
    <h3 class="tournament-bracket__round-title">Quarts de finale</h3>
    <hr>

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[0].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[0].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
          {{ tournament.games[0].player1.name }} - {{ tournament.games[0].player2.name }}    
    </ul>   

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[1].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[1].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
          {{ tournament.games[1].player1.name }} - {{ tournament.games[1].player2.name }}        
    </ul> 

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[2].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[2].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
          {{ tournament.games[2].player1.name }} - {{ tournament.games[2].player2.name }}        
    </ul> 

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[3].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[3].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
          {{ tournament.games[3].player1.name }} - {{ tournament.games[3].player2.name }}            
    </ul> 

    <hr>
    <h3 class="tournament-bracket__round-title">Demi-finales</h3>
    <hr>

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[4].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[4].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
        {% if tournament.games[4].player1 and tournament.games[4].player2 %}
          {{ tournament.games[4].player1.name }} - {{ tournament.games[4].player2.name }}        
        {% else %}
           Vainqueur Match 1 - Vainqueur Match 2
        {% endif %}        
    </ul>

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[5].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[5].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
        {% if tournament.games[5].player1 and tournament.games[5].player2 %}
          {{ tournament.games[5].player1.name }} - {{ tournament.games[5].player2.name }}        
        {% else %}
           Vainqueur Match 3 - Vainqueur Match 4
        {% endif %}        
    </ul>

    <hr>
    <h3 class="tournament-bracket__round-title">Match pour la troisième place</h3>
    <hr>

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[6].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[6].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
        {% if tournament.games[6].player1 and tournament.games[6].player2 %}
          {{ tournament.games[6].player1.name }} - {{ tournament.games[6].player2.name }}        
        {% else %}
           Perdant Match 5 - Perdant Match 6
        {% endif %}        
    </ul>

    <hr>
    <h3 class="tournament-bracket__round-title">Grande Finale</h3>
    <hr>

    <h3 class="tournament-bracket__round-title">Match {{ tournament.games[7].number }} <a href="{{ path('app_edit_game', {gameId: tournament.games[7].id }) }}" class="pull-right">Indiquer Score</a></h3>
    <ul class="tournament-bracket__code tournament-bracket__country tournament-bracket__team tournament-bracket__team--winner">
        {% if tournament.games[7].player1 and tournament.games[7].player2 %}
          {{ tournament.games[7].player1.name }} - {{ tournament.games[7].player2.name }}        
        {% else %}
           Vainqueur Match 5 - Vainqueur Match 6
        {% endif %}        
    </ul>
</div>

{% endblock %}
