{% extends 'layout.html.twig' %}

{% block body %}
<main id="swup" class="transition-fade">
    <div class="section">
        <div class="container px-lg-5">

        <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
            <h2 class="text-24 text-light opacity-4 text-uppercase font-weight-600 w-100 mb-0">Pokémon</h2>
            <p class="text-9 text-dark font-weight-600 position-absolute w-100 align-self-center line-height-4 mb-0">{{ pokemon.name }}<span class="heading-separator-line border-bottom border-3 border-primary position-abolute d-block mx-auto"></span> </p>
            </div>
        <!-- Heading end-->
            <div class="row">
                <div class="col mx-auto">
                    <nav class="pokemon-navigation">
                        <a href="/pokedex/{{ previous.slug }}" class="previous">
                            <div class="pokedex-pokemon-pagination-wrapper">
                                <i class="fas fa-arrow-circle-left"></i>
                                <span class="pokemon-number">#{{ previous.apiId }}</span>
                                <span class="pokemon-name">{{ previous.name }}</span>
                            </div>
                        </a>
                        <a href="/pokedex/{{ next.slug }}" class="next">
                            <div class="pokedex-pokemon-pagination-wrapper">
                                <span class="pokemon-number">#{{ next.apiId }}</span>
                                <span class="pokemon-name">{{ next.name }}</span>
                                <i class="fas fa-arrow-circle-right"></i>
                            </div>
                        </a>
                    </nav>
                    <br>
                    <section>    
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="card card-pokemon">
                                    <img class="card-img-pokemon card-img-top" src="/images/artwork/{{ pokemon.apiId }}.png" alt="pokemon avatar">
                                    <div class="card-body">
                                        <p class="card-text">{{ pokemon.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-6 text-dark font-weight-600">{{ pokemon.name }} #{{ pokemon.apiId }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="right-panel">
                                    <div class="row">
                                        <div class="col pokemon-attributes"
                                            {% if pokemon.generation %}
                                                <h5>Génération</h5>
                                                <ul>
                                                    <li class="pokemon-attributes-infos">{{ pokemon.generation.apiId }}</li>
                                                    <li class="pokemon-attributes-infos">{{ pokemon.generation.region }}</li>
                                                </ul>
                                            {% else %}
                                                <small>pas d'info sur sa génération</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br>                                
                                    <div class="row">
                                        <div class="col pokemon-attributes"
                                            <h5>Type</h5>
                                            <ul>
                                                {% if pokemon.type1 %}
                                                    <li 
                                                        {% if pokemon.type1.name is same as('Normal') %} class="pokemon-attributes-normal"{% endif %}
                                                        {% if pokemon.type1.name is same as('Combat') %} class="pokemon-attributes-fighting"{% endif %}
                                                        {% if pokemon.type1.name is same as('Vol') %} class="pokemon-attributes-flying"{% endif %}
                                                        {% if pokemon.type1.name is same as('Poison') %} class="pokemon-attributes-poison"{% endif %}
                                                        {% if pokemon.type1.name is same as('Sol') %} class="pokemon-attributes-ground"{% endif %}
                                                        {% if pokemon.type1.name is same as('Roche') %} class="pokemon-attributes-rock"{% endif %}
                                                        {% if pokemon.type1.name is same as('Insecte') %} class="pokemon-attributes-bug"{% endif %}
                                                        {% if pokemon.type1.name is same as('Spectre') %} class="pokemon-attributes-ghost"{% endif %}
                                                        {% if pokemon.type1.name is same as('Acier') %} class="pokemon-attributes-steel"{% endif %}
                                                        {% if pokemon.type1.name is same as('Feu') %} class="pokemon-attributes-fire"{% endif %}
                                                        {% if pokemon.type1.name is same as('Eau') %} class="pokemon-attributes-water"{% endif %}
                                                        {% if pokemon.type1.name is same as('Plante') %} class="pokemon-attributes-green"{% endif %}
                                                        {% if pokemon.type1.name is same as('Électrik') %} class="pokemon-attributes-electric"{% endif %}
                                                        {% if pokemon.type1.name is same as('Psy') %} class="pokemon-attributes-psy"{% endif %}
                                                        {% if pokemon.type1.name is same as('Glace') %} class="pokemon-attributes-ice"{% endif %}
                                                        {% if pokemon.type1.name is same as('Dragon') %} class="pokemon-attributes-dragon"{% endif %}
                                                        {% if pokemon.type1.name is same as('Ténèbres') %} class="pokemon-attributes-dark"{% endif %}
                                                        {% if pokemon.type1.name is same as('Fée') %} class="pokemon-attributes-fairy"{% endif %}
                                                    >{{ pokemon.type1.name }}</li>
                                                {% endif %}
                                                {% if pokemon.type2 %}
                                                    <li
                                                        {% if pokemon.type2.name is same as('Normal') %} class="pokemon-attributes-normal"{% endif %}
                                                        {% if pokemon.type2.name is same as('Combat') %} class="pokemon-attributes-fighting"{% endif %}
                                                        {% if pokemon.type2.name is same as('Vol') %} class="pokemon-attributes-flying"{% endif %}
                                                        {% if pokemon.type2.name is same as('Poison') %} class="pokemon-attributes-poison"{% endif %}
                                                        {% if pokemon.type2.name is same as('Sol') %} class="pokemon-attributes-ground"{% endif %}
                                                        {% if pokemon.type2.name is same as('Roche') %} class="pokemon-attributes-rock"{% endif %}
                                                        {% if pokemon.type2.name is same as('Insecte') %} class="pokemon-attributes-bug"{% endif %}
                                                        {% if pokemon.type2.name is same as('Spectre') %} class="pokemon-attributes-ghost"{% endif %}
                                                        {% if pokemon.type2.name is same as('Acier') %} class="pokemon-attributes-steel"{% endif %}
                                                        {% if pokemon.type2.name is same as('Feu') %} class="pokemon-attributes-fire"{% endif %}
                                                        {% if pokemon.type2.name is same as('Eau') %} class="pokemon-attributes-water"{% endif %}
                                                        {% if pokemon.type2.name is same as('Plante') %} class="pokemon-attributes-green"{% endif %}
                                                        {% if pokemon.type2.name is same as('Électrik') %} class="pokemon-attributes-electric"{% endif %}
                                                        {% if pokemon.type2.name is same as('Psy') %} class="pokemon-attributes-psy"{% endif %}
                                                        {% if pokemon.type2.name is same as('Glace') %} class="pokemon-attributes-ice"{% endif %}
                                                        {% if pokemon.type2.name is same as('Dragon') %} class="pokemon-attributes-dragon"{% endif %}
                                                        {% if pokemon.type2.name is same as('Ténèbres') %} class="pokemon-attributes-dark"{% endif %}
                                                        {% if pokemon.type2.name is same as('Fée') %} class="pokemon-attributes-fairy"{% endif %}                                           
                                                    >{{ pokemon.type2.name }}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <br>   
                                    {% if pokemon.weight or pokemon.height %}
                                    <div class="row">
                                        <div class="col pokemon-attributes"
                                            <h5>Taille / Poids </h5>
                                            <ul>
                                            {% if pokemon.height %}
                                                <li class="pokemon-attributes-infos">{{ pokemon.height /10 }} m</li>
                                            {% endif %}
                                            {% if pokemon.weight %}
                                                <li class="pokemon-attributes-infos">{{ pokemon.weight /10 }} kg</li>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br>  
                                    {% endif %}    
                                    {% if pokemon.isLegendary or pokemon.isMythical %}
                                    <div class="row">
                                        <div class="col pokemon-attributes"
                                            <h5>Rareté</h5>
                                            <ul>
                                            {% if pokemon.isLegendary %}
                                                <li class="pokemon-attributes-legendary">Légendaire</li>
                                            {% endif %}
                                            {% if pokemon.isMythical %}
                                                <li class="pokemon-attributes-mythical">Fabuleux</li>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br>  
                                    {% endif %}   
                                </div>                                                     
                            </div>
                        </div>
                    </section>
                    <br>
                    <section>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" role="navigation" aria-current="page">Evolutions</li>
                            </ol>
                        </nav>  
                        <div class="row evolutionchain-row">
                            <div class="col d-flex justify-content-center">
                                {{ evolutionChain|raw }}
                            </div>
                        </div>
                    </section>   
                    <br>
                    <section>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" role="navigation" aria-current="page">Formes</li>
                            </ol>
                        </nav>  
                        <div class="row evolutionchain-row">
                            <div class="col d-flex justify-content-center">
                                <ul class="evolutionchain">
                                    <li>
                                        <a href="#">
                                            <div class="evolutionchain-name">Shiny</div>
                                            <img class="evolutionchain-image" src="/images/shiny/{{ pokemon.apiId }}.png" alt="pokemon avatar shiny">
                                        </a>
                                    </li>
                                    {% if isAlola %}
                                        <li>
                                            <a href="#">
                                                <div class="evolutionchain-name">Alola</div>
                                                <img class="evolutionchain-image" src="/images/{{ pokemon.apiId }}-alola.png" alt="pokemon avatar alola">
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if isGalar %}
                                        <li>
                                            <a href="#">
                                                <div class="evolutionchain-name">Galar</div>
                                                <img class="evolutionchain-image" src="/images/{{ pokemon.apiId }}-galar.png" alt="pokemon avatar galar">
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if isGmax %}
                                        <li>
                                            <a href="#">
                                                <div class="evolutionchain-name">Gmax</div>
                                                <img class="evolutionchain-image" src="/images/{{ pokemon.apiId }}-gmax.png" alt="pokemon avatar gmax">
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if isMega %}
                                        <li>
                                            <a href="#">
                                                <div class="evolutionchain-name">Méga</div>
                                                <img class="evolutionchain-image" src="/images/{{ pokemon.apiId }}-mega.png" alt="pokemon avatar mega">
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if isMegaX %}
                                        <li>
                                            <a href="#">
                                                <div class="evolutionchain-name">Méga X</div>
                                                <img class="evolutionchain-image" src="/images/{{ pokemon.apiId }}-mega-x.png" alt="pokemon avatar mega-x">
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if isMegaY %}
                                        <li>
                                            <a href="#">
                                                <div class="evolutionchain-name">Méga Y</div>
                                                <img class="evolutionchain-image" src="/images/{{ pokemon.apiId }}-mega-y.png" alt="pokemon avatar mega-y">
                                            </a>
                                        </li>
                                    {% endif %}                                    
                                </ul>
                            </div>
                        </div>
                    </section>       
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{ path('app_pokedex') }}">Plus de Pokémon</a>
                    </div>           
                </div>
            </div>
        </div>
    </div>   
</main>

{% endblock %}